DirectoryIndex index.html
Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /PacificMillers/

  RewriteRule ^anuncios/?$ anuncios.html [L]
  RewriteRule ^carta/?$ carta.html [L]
  RewriteRule ^pedidos/?$ pedidos.html [L]
  RewriteRule ^panel/?$ panel.html [L]
</IfModule>
